<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guat.lzp.product.mapper.CategoryMapper">

    <select id="findAll" resultType="com.guat.lzp.product.entity.Category">
        SELECT id, name, descp FROM category ORDER BY id
    </select>

    <select id="findById" resultType="com.guat.lzp.product.entity.Category">
        SELECT id, name, descp FROM category WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO category (name, descp) VALUES (#{name}, #{descp})
    </insert>

    <update id="update">
        UPDATE category
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="descp != null">descp = #{descp},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM category WHERE id = #{id}
    </delete>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM category
    </select>

</mapper>
