<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guat.lzp.product.mapper.UserMapper">

    <select id="findByUsername" resultType="com.guat.lzp.product.entity.User">
        SELECT id, username, password, active
        FROM t_user WHERE username = #{username}
    </select>

    <select id="findRolesByUserId" resultType="java.lang.String">
        SELECT r.role
        FROM t_role r
        INNER JOIN t_user_role ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId}
    </select>

    <select id="findAll" resultType="com.guat.lzp.product.entity.User">
        SELECT id, username, password, active
        FROM t_user ORDER BY id DESC
    </select>

    <select id="findById" resultType="com.guat.lzp.product.entity.User">
        SELECT id, username, password, active
        FROM t_user WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user (username, password, active)
        VALUES (#{username}, #{password}, #{active})
    </insert>

    <update id="update">
        UPDATE t_user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="active != null">active = #{active},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM t_user WHERE id = #{id}
    </delete>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM t_user
    </select>

</mapper>
